/* Reset CSS styles
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------End of style reset ------------------ */

body {
	font-family: sans-serif;
	margin: 0 auto;
}
#map {
	/* 100% of the height of the viewport*/
	height: 100vh;
	position: relative;
	z-index: 0;
}
h1 {
	font-size: 200%;
}
h3 {
	font-size: 125%;
} 
strong {
	font-weight: 700;
}
li {
	list-style: none;
}
#header {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	padding: 10px;
	text-align: right;
	line-height: 1.25;
	background-color: rgba(64, 64, 64, 0.5);
	color: rgb(255, 255, 255);
}
/* The info-box is the container of the nav menu */
#info-box {
	position: fixed;
	right: 0;
	bottom: 15px;
	z-index: 1;
	background-color: rgba(64, 64, 64, 0.5);
	padding: 15px 5px 0 15px;
	line-height: 1.25;
	font-size: 110%;
	color: rgb(255, 255, 255);
}
#menu li:hover {
	background-color: #000;
}
#no-matches {
	font-size: 70%;
	color: rgb(255, 204, 0);
	display: inline-block;
}
#filter {
	display: block;
	margin-bottom: 5px;
}
#search {
	margin: 5px 5px 10px 0;
}
#submit {
	background-color: transparent;
	background-image: url(../pix/checkmark.png);
	border: none;
	height: 22px;
	width: 25px;
	display: inline-block;
	margin-right: 5px;
}
#show {
	background-color: transparent;
	background-image: url(../pix/refresh.png);
	border: none;
	height: 22px;
	width: 25px;
	display: inline-block;
	margin-right: 40px;
}
.hamburger-button {
	position: fixed;
	right: 3px;
	bottom: 33px;
	z-index: 2;
	background-color: transparent;
	border: none;
	display: block;
}
.hamburger-button:focus {
	outline: 0; 
}
.hamburger-button .horiz-bar {
    display: block;
	width: 25px;
	height: 3px;
	border-radius: 1px;
	background-color: rgb(0, 0, 0);
}
/* Keeps the top bar in hamburger-button from having a margin */
.horiz-bar + .horiz-bar {
	margin-top: 6px;
}
#info-button {
	background-color: transparent;
	background-image: url(../pix/info.png);
	height: 24px;
	width: 24px;
	border: none;
	position: fixed;
	bottom: 50px;
	left: 15px;
}
input, button:focus {
	outline: 0;
}
#submit:hover, #show:hover, button:hover, #info-button:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

/* Styles the infowindow Google Maps creates */
.infowindow {
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}
.infowindow #vendor-credits {
	font-size: 80%;
}

/* CSS for credits-box */
#credits {
	margin: 0 auto;
	line-height: 1.5;
	background-color: rgb(245, 245, 245);
	width: 250px;
	/* iPhone doesn't like an absolute width */
	max-width: 80%;
	font-size: 80%;
	text-align: center;
	padding: 10px 25px 10px 25px;
	position: absolute;
	left: 50px;
	bottom: 0;
	z-index: 3;
}
#credits ul {
	margin-top: 10px;
}
#credits ul li {
	list-style-type: disc;
	text-align: left;
}
#credits a {
	color: rgb(37, 107, 186);
	text-decoration: none;
}
#x {
	background-color: transparent;
	background-image: url(../pix/x.png);
	height: 32px;
	width: 32px;
	border: none;
}
/* End credits box, begin media queries */

@media (max-height: 399px) {
	#info-box {
		font-size: 90%;
	}
}
@media (max-width: 499px), (max-height: 399px) {
	#header h1{
		font-size: 150%;
	}
	#header h3 {
		font-size: 100%
	}
}
@media (max-width: 399px), (max-height: 359px) {
	#header h1{
		font-size: 130%;
	}
	#header h3 {
		font-size: 90%
	}
	#credits {
		width: 225px;
		max-width: 80%
	}
	.hamburger-button .horiz-bar {
		width: 22px;
	}
}
@media (max-width: 359px) {
	#show {
		margin-right: 33px;
	}
}
/* Especially for landscape on smaller phones*/
@media (max-height: 359px) {
	#header h3 {
		display: none;
	}
	#credits {
		width: 250%;
		max-width: 65%;
	}
}
